.attendance {
    background: #f6f6f6;
    padding: 40px;
    width: 100%;
    margin: 0 auto;
}

.attendance__header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.attendance__title {
    font-size: 20px;
    font-weight: bold;
    border-left: 5px solid #000;
}

.attendance__date-nav--cade {
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 10px;
}

.attendance__date-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
}

.attendance__date-input input {
    font-size: 16px;
    padding: 6px 12px;
    width: 160px;
    text-align: center;
    border: none;
    outline: none;
    background: none;
    font-weight: bold;
}

.attendance__button {
    background: none;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 15px;
    color: #808080;
    font-weight: bold;
}

.attendance__table--cade {
    background-color: #fff;
    border-radius: 6px;
}

.attendance__table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}

.attendance__table th,
.attendance__table td {
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid #eee;
    color: #808080;
}

.attendance__table th {
    font-weight: bold;
    border-bottom: 5px solid #eee;
}

.attendance__table tr:last-child td {
    border-bottom: none;
}

.attendance__table a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width: 850px) and (min-width: 768px) {
    .attendance {
        padding: 12px;
    }

    .attendance__header {
        margin-bottom: 16px;
    }

    .attendance__title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .attendance__date-nav--cade {
        padding: 10px 4px;
    }

    .attendance__date-nav {
        flex-direction: column;
        gap: 10px;
    }

    .attendance__date-input input {
        width: 100%;
        font-size: 13px;
        border: 1px solid #ddd;
        border-radius: 6px;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    .attendance__button {
        width: 100%;
        font-size: 13px;
        padding: 8px 0;
    }

    .attendance__table {
        font-size: 13px;
    }

    .attendance__table th,
    .attendance__table td {
        padding: 8px;
        font-size: 12px;
    }
}