.header {
    background-color: #000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    height: 60px;
}