.header {
    background-color: #000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    height: 60px;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__list a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.header__list button {
    background: none;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}