.register__form {
    max-width: 1230px;
    margin: 0 auto;
    padding: 30px 15px;
}

.register__title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.form__group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.form__group--title {
    font-weight: bold;
}

.form__group--input input {
    border-radius: 3px;
    box-sizing: border-box;
    padding: 8px 12px;
    border: 1px solid #000;
    width: 100%;
    margin-bottom: 20px;
}

.form__error {
    color: #ff0000;
}

.form__button {
    text-align: center;
}

.form__button--submit {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    width: 40%;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    margin: 30px;
    cursor: pointer;
}

.form__login {
    color: #3399ff;
    text-decoration: none;
    cursor: pointer;
}