.attendance-detail {
    background: #f6f6f6;
    padding: 40px;
}

.attendance-detail__title {
    font-size: 22px;
    font-weight: bold;
    border-left: 5px solid #000;
    margin-bottom: 24px;
}

.attendance-detail__table table {
    width: 80%;
    background: #fff;
    border-radius: 8px;
    border-collapse: collapse;
    overflow: hidden;
}

.attendance-detail__table th,
.attendance-detail__table td {
    padding: 18px;
    border-bottom: 1px solid #eee;
}

.attendance-detail__table th {
    width: 30%;
    font-weight: bold;
    color: #808080;
}

.detail-input {
    width: 120px;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #fff;
    font-size: 14px;
}

.error {
    color: #ff0000;
    font-size: 13px;
    margin-top: 5px;
    height: 20px;
}


.detail-textarea {
    width: 90%;
    height: 60px;
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #fff;
    resize: none;
    font-size: 14px;
}

.attendance-detail__button-area {
    text-align: right;
    margin-top: 32px;
    margin-right: 20%;
}

.attendance-detail__edit-button {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 12px 32px;
    border-radius: 6px;
    text-decoration: none;
}